{% extends 'shared/layout.html' %}
{% block conteudo %}

<div>
<h2>Cadastre-se</h2>
{{msg}}
<form action="/" method="post">
    {% csrf_token %}
    <div class="um">
        <label>Nome</label>
        <input type="text" name="nome" required>
        
        <label>Sobrenome</label>
        <input type="text" name="sobrenome" required>
    </div>

    <div class="dois">
        <label>E-mail</label>
        <input type="email" name="email" required>
        
        <label for="">Gênero</label>
        <select name="genero" required>
            <option value="F">Feminino</option>
            <option value="M">Masculino</option>
            <option value="O">Outro</option>
        </select>
    </div>

    <div class=bio>
        <label for="">Biografia</label>
        <textarea name="biografia" cols="30" rows="10"></textarea>
    </div>
    <div class="botao">
        <input type="submit" value="Cadastrar">
    </div>
</form>
</div>
{% endblock %}