{% extends 'shared/layout.html' %}

{% block conteudo %}
<h2>Listagem das Ideas</h2>
<div class="fundo">
        
        <p>
                {% for ideia in ideias %}
                <p>Nome: {{ideia.pessoa.nome}}</p>
                <p>Títullo Ideia: {{ideia.titulo}}</p>
                <p>Categoria: {{ideia.categoria}}</p>
                <p>{{ideia.descricao}}</p>
                <a href="/remover_ideia/{{ideia.id}}"><input type="button" value="Deletar"></a>
                <hr>
                {% endfor %}
        </p>
</div>

{% endblock %}